<div class="alert alert-warning"
     (click)="getClickedUser()">
  <p><strong>User name:</strong> {{ userName }}</p>
  <p><strong>Email:</strong> {{ userEmail }}</p>
  <p><strong>Role:</strong> {{ userRole }}</p>
  <p><strong>Activity:</strong> {{ getActivityMessage() }}</p>
</div>
