<div class="mb-4">
<h4>Add new user</h4>
<form (ngSubmit)="getUser()">
  <div class="form-group">
    <label for="name">Name</label>
    <input
      type="text"
      name="name"
      id="name"
      class="form-control"
      #nameInput>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="email"
      name="email"
      id="email"
      class="form-control"
      #emailInput>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Role</label>
    <select
      class="form-control"
      id="exampleFormControlSelect1"
      #roleSelect>
      <option selected disabled value="">Choose your role</option>
      <option value="user">User</option>
      <option value="editor">Editor</option>
      <option value="admin">Admin</option>
    </select>
  </div>
  <div class="form-group form-check">
    <input
      type="checkbox"
      class="form-check-input"
      id="exampleCheck1"
      value="activity"
      #isActiveInput>
    <label class="form-check-label" for="exampleCheck1">Is active</label>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>
</div>
