<div class="container p-4">
  <div class="btn-group mb-4" role="group" aria-label="Basic example">
    <button type="button"
            class="btn btn-secondary"
            (click)="showForms()">Manage
    </button>
    <button type="button"
            class="btn btn-secondary"
            (click)="showUsersAndGroups()">Users and Groups
    </button>
  </div>
  <div class="row mt-2">
    <div class="col-3 border mr-2" *ngIf="showedForms">
      <app-new-user></app-new-user>
      <app-create-group></app-create-group>
    </div>
    <ng-container *ngIf="showedUsersAndGroups">
    <div class="col-4 border bg-light mr-2">
      <app-all-users></app-all-users>
    </div>
    <div class="col-4 border bg-light">
      <app-groups></app-groups>
    </div>
    </ng-container>
  </div>
</div>
