<div class="alert alert-primary"
     (click)="getClickedGroup()"
     [style]="gettingStyle">
<p>{{ nameOfGroup.toUpperCase() }}</p>
  <ul>
    <li *ngFor="let user of nameOfUser">{{ user }}</li>
  </ul>
</div>
