<h4>Create group</h4>
<form (ngSubmit)="getUsersGroup()">
  <div class="form-group">
    <label for="nameGroup">Name of group</label>
    <input
      type="text"
      id="nameGroup"
      name="nameGroup"
      class="form-control"
      #groupInput>
  </div>
  <button type="submit" class="btn btn-primary">Create</button>
</form>
